/* Reset & Base */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

#top {
    display: flex;
    flex : 1 1 auto;
}



h1, h3 {
    text-align: center;
    margin-bottom: 0.5rem;
}

p {
    text-align: center;
    color: #ccc;
}

/* Header */
header {
    padding: 4rem;
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}

/* Main Layout */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

/* Coin Table */
.coin-section {
    flex: 1 1 100px;
}

.coin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
}

.coin-table th,
.coin-table td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #333;
}

.coin-table tr:hover {
    background-color: #292929;
    cursor: pointer;
}

.coin.selected {
    background-color: #333 !important;
}

.rate {

}

.up {
    color: #00ff88;
}

.down {
    color: #ff5555;
}


/* Graph Section */
.graph-section {
    flex: 1 1 400px;
    background-color: #1a1a1a;
    padding: 1rem;
    border-radius: 8px;
}

/* Trade Section */
.trade-section {
    background-color: #1f1f1f;
    padding: 2rem;
    border-top: 1px solid #333;
}

.print {
    margin-bottom: 1rem;
    color: #0f0;
    font-weight: bold;
}

.tradelog {
    list-style: none;
    padding: 0;
}

.tradelog li {
    padding: 0.5rem;
    border-bottom: 1px solid #333;
}
